{% extends "base.html" %}
{% block content %}
<h1>Sapientone - {{ name }}</h1>
<div class="alert progress">
    <div class="progress-meter" style="width: {{ progress }}%">
      <p class="progress-meter-text">{{ progress }}%</p>
    </div>
</div>
<div class="float-right">
  <span>Tempo restante: </span><span id="timer">&nbsp;</span>
</div>
<h2>Domanda {{ question_n }}: {{ question }}</h2>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    // Connect to the Socket.IO server.
    // The connection URL has the following format:
    //     http[s]://<domain>:<port>[/<namespace>]
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + "/test");
    var $timer = $("#timer");
    socket.on('next question', function(next){
      console.log('message: ' + next);
      // similar behavior as clicking on a link
      window.location.href = "/question/" + next;
    });

    socket.on('win', function(next){
      console.log('message: ' + next);
      // similar behavior as clicking on a link
      window.location.href = "/win";
    });
    socket.on('lost', function(next){
      console.log('message: ' + next);
      // similar behavior as clicking on a link
      window.location.href = "/lost";
    });
    socket.on('tick', function(timeleft){
      $timer.text(timeleft);
    });
    socket.on('timeout', function(){
      // similar behavior as clicking on a link
      window.location.href = "/timeout";
    });
    // Event handler for new connections.
    // The callback function is invoked when a connection with the
    // server is established.
    socket.on('connect', function() {
      socket.emit('connected', {data: 'I\'m connected!'});
    });
</script>
{% endblock %}

